header {
  height: 50px;
  background-color: rgb(32, 58, 48);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;

  padding: 0 15px;
}

header img {
  width: 30px;
  height: 30px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.logo img {
  width: 20px;
  height: 20px;
}

.logo h1 {
  line-height: 50px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 100;
}

.headerItem {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;

  height: 100%;
}

.notif {
  display: flex;
  align-items: center;
  justify-content: end;

  padding-top: 6px;
  height: 100%;

  position: relative;
  /* display: inline-block; */
}

#notif-indicator {
  position: absolute;
  top: 12px;
  right: 3px;
  background-color: red;
  padding: 5px;
  border-radius: 100%;
  text-align: center;
  display: block;
}

.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  height: 100%;
}

.profile .name {
  font-size: 13px;
  color: rgb(255, 255, 255);
  text-align: center;
  text-wrap: nowrap;
}

.profile-dropbtn,
.notif-dropbtn {
  position: relative;
}

.profile-dropdown-block,
.notif-dropdown-block {
  display: none;
  position: absolute;
  right: 0;
  top: 40px;

  background-color: #f9f9f9;
  width: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border: 1px solid lightgray;
  border-radius: 5px;
}
.notif-dropdown-block {
  right: -80px;
  /* min-width: 300px; */
}

.profile-dropdown-block a,
.notif-dropdown-block a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  text-wrap: nowrap;
  min-width: 130px;
}
.notif-dropdown-block a {
  margin: 12px 16px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  min-width: 0;
  /* background-color: #e1f6e4; */
  border-radius: 10px;
}

.profile-dropdown-block a:hover,
.notif-dropdown-block a:hover {
  background-color: #f0f0f0; /* Світлий фон при наведенні */
  /* transition: background-color 0.3s ease; */
  border-bottom: 3px solid #164a1f;
}

.profile-dropbtn:hover .profile-dropdown-block,
.notif-dropbtn:hover .notif-dropdown-block {
  display: block;
}

.notif-dropdown-block ul {
  list-style-type: none;
}

.notif-dropdown-block .sender-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;

  min-width: 50px;
  max-width: 50px;
}

.notif-dropdown-block .sender-info p {
  font-size: 12px;
  text-align: center;
  text-wrap: nowrap;
}

.notif-dropdown-block .message-oversee {
  margin: 5px;
  min-width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: rgb(201, 248, 224);
}

@media (max-width: 940px) {
  .notif-dropdown-block .message-oversee {
    min-width: 21vw;
  }
  .profile-dropdown-block a {
    min-width: 14vw;
  }
}

@media (max-width: 327px) {
  .profile .name {
    display: none;
  }
  .notif-dropdown-block .message-oversee {
    display: none;
    min-width: 0px;
  }
  .notif-dropdown-block {
    left: 0;
    right: auto;
  }
  .profile-dropdown-block a {
    min-width: 0;
  }
}
