table img {
  width: 20px;
  height: 20px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-left: 200px;
  margin-top: 50px;
  padding: 30px;
}

.table_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tableName {
  font-size: 30px;
  color: rgb(0, 0, 0);
  line-height: 40px;
}

#th_control_wreper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.table_header button {
  width: 40px;
  height: 40px;
  font-size: 30px;
  line-height: 40px;
  text-align: center;
}

#del_all_btn {
  display: none;
  align-items: center;
  justify-content: center;
}
#del_all_btn img {
  width: 30px;
  height: 30px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

#media-select-all {
  display: none;
  padding: 0 0 0.35em 0.4em;
}
#media-select-all label {
  font-size: 1.1em;
  font-weight: bold;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
  text-align: center;
  word-wrap: break-word;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-bottom: 2px solid #ddd;
  border-top: 2px solid #ddd;
}

.statusBar {
  background-color: lightgray;
  border-radius: 100%;
  border: 0.5px solid black;
  width: 20px;
  height: 20px;
}

.option_cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: calc(100% - 1);
}

.status_cell {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: calc(100% - 1);
}

.option_cell button {
  width: 30px;
  height: 30px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.option_cell button img {
  margin: auto;
}

#students_table th.checkAll {
  width: 50px;
}

#students_table th.group {
  width: 75px;
}

#students_table th.name {
  width: 200px;
}

#students_table th.gender {
  width: 85px;
}

#students_table th.birthday {
  width: 100px;
}

#students_table th.status {
  width: 80px;
}

#students_table th.options {
  width: 90px;
}

@media screen and (max-width: 500px) {
  table {
    border: 0;
  }
  #media-select-all {
    display: block;
  }
  table thead {
    border: none;
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
    min-height: 25px;
  }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}

@media screen and (max-width: 500px) {
  .statusBar {
    width: 15px;
    height: 15px;
  }
  .option_cell {
    justify-content: end;
  }
  .status_cell {
    justify-content: end;
  }
  .option_cell button {
    width: 20px;
    height: 20px;
  }
  .option_cell button img {
    margin: auto;
    width: 15px;
    height: 15px;
  }
}

.tableNext {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin: auto;
}

.tableNext button {
  width: 30px;
  height: 25px;

  font-size: 18px;
  line-height: 25px;
}

#shadow-wraper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Напівпрозоре затемнення */
  display: none; /* Спочатку приховане */
  justify-content: center;
  align-items: center;
  z-index: 999;
}
#del-student-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 50vh;
  min-width: 250px;
  min-height: 150px;
  background-color: white;
  z-index: 2;

  border: 1px solid #164a1f;
  border-radius: 10px;
}

#edit-student-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 60vh;
  min-width: 250px;
  min-height: 150px;
  background-color: white;
  z-index: 2;

  border: 1px solid #164a1f;
  border-radius: 10px;
}

.newBlock-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 2vw;

  border-bottom: 3px solid #164a1f;
}

.newBlock-header h3 {
  font-size: 30px;
  line-height: 30px;
}

.close_button {
  width: 30px;
  height: 30px;
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}

.close_button span {
  display: block;
  transform: rotate(45deg);
}

.block-data-container .warningdel-message {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  padding: 3vh 2vw;

  border-top: 3px solid #164a1f;
}

.btn-container button {
  padding: 5px 10px;
  min-width: 70px;
  font-size: 15px;
}

.block-data-container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;

  overflow-y: auto;
}
#student-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-error-group {
  width: 300px;
}
.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 7px;
}

.input-group label {
  width: 100px;
  font-size: 16px;
  font-weight: bold;
}

.input-group input,
.input-group select {
  width: 300px;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 3px;
  font-size: 14px;
}

.input-group input[type="date"] {
  text-align: left;
}

.erinput-message {
  color: red;
  font-size: 12px !important;
  display: none;
  padding: 0 5px;
  word-wrap: break-word;
}

@media (max-width: 940px) {
  section {
    margin-left: 48px;
  }

  #students_table th.name {
    width: 100px;
  }

  .newBlock-header h3 {
    font-size: 25px;
    line-height: 25px;
  }
  .close_button {
    width: 25px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
  }
  .block-data-container .warningdel-message {
    font-size: 20px;
  }
  .btn-container {
    gap: 15px;
    padding: 3vh 1.5vw;
  }
  .btn-container button {
    min-width: 50px;
    font-size: 12px;
  }
  .block-data-container {
    align-items: center;
    gap: 10px;
  }
  .input-error-group {
    max-width: 300px;
    width: 100%;
    /* justify-content: center; */
  }
  .input-group {
    flex-direction: column;
    align-items: start;
    gap: 3px;
    max-width: 300px;
    width: 100%;
    margin: 5px;
  }
  .input-group input,
  .input-group select {
    width: 100%;
    padding: 5px;
    border-radius: 3px;
    font-size: 14px;
  }
}

@media (max-width: 390px) {
  section {
    padding: 5vw;
  }

  .tableName {
    font-size: 8.6vw;
    line-height: 11.5vw;
  }
  #th_control_wreper {
    gap: 5vw;
  }

  .table_header button {
    width: 11.5vw;
    height: 11.5vw;
    font-size: 8.6vw;
    line-height: 10vw;
  }
  #del_all_btn img {
    width: 10vw;
    height: 10vw;
  }

  .newBlock-header h3 {
    font-size: 20px;
    line-height: 20px;
  }
  .close_button {
    width: 20px;
    height: 20px;
    font-size: 20px;
    line-height: 20px;
  }
  .block-data-container .warningdel-message {
    font-size: 15px;
  }
  .btn-container {
    gap: 10px;
    padding: 3vh 1vw;
  }
  .btn-container button {
    font-size: 10px;
    overflow: hidden;
  }
}
