<header>
  <h1>
    <a
      href="/Pages/students.html"
      class="text_edit logo clickable"
      aria-label="Main page"
      tabindex="1"
      >CMS</a
    >
  </h1>
  <div class="headerItem">
    <div class="notif clickable notif-dropbtn">
      <a
        href="/Pages/messages.html"
        aria-label="Notifications"
        tabindex="2"
      >
        <img src="/Images/notification.png" alt="notification" />
      </a>

      <div class="notif-dropdown-list">
        <a href="#" class="text_edit clickable">Profile</a>
        <a href="#" class="text_edit clickable">Log Out</a>
      </div>
    </div>

    <div
      class="profile clickable profile-dropbtn"
      aria-label="My profile"
      tabindex="3"
    >
      <img src="/Images/user.png" alt="user" />
      <span class="text_edit name" id="profile-name">Bohdan Kruk</span>

      <div class="profile-dropdown-list">
        <a href="#" class="text_edit clickable">Profile</a>
        <a href="#" class="text_edit clickable">Log Out</a>
      </div>
    </div>
  </div>
</header>
