<div class="hamburger-icon clickable" onclick="showMenu()">
    <img src="/Images/hamburger.png" alt="Hamburger">
</div>

<nav>
    <ul class="menu-items">
        <li><a href="/Pages/dashboard.html" class="text_edit nav-item" aria-label="Dashboard" tabindex="4">Dashboard</a></li>
        <li><a href="/Pages/students.html" class="text_edit nav-item" aria-label="Students" tabindex="5">Students</a></li>
        <li><a href="/Pages/tasks.html" class="text_edit nav-item" aria-label="Tasks" tabindex="6">Tasks</a></li>
    </ul>
</nav>