<div class="hamburger-icon clickable" onclick="burgerMenu()">
  <img src="/Images/hamburger.png" alt="Hamburger" />
</div>

<nav>
  <ul class="menu-items">
    <li>
      <a
        href="/dashboard.html"
        class="text_edit nav-item clickable"
        aria-label="Dashboard"
        >Dashboard</a
      >
    </li>
    <li>
      <a
        href="/students.html"
        class="text_edit nav-item clickable"
        aria-label="Students"
        >Students</a
      >
    </li>
    <li>
      <a
        href="/tasks.html"
        class="text_edit nav-item clickable"
        aria-label="Tasks"
        >Tasks</a
      >
    </li>
  </ul>
</nav>
